{##
 # This file is part of the SgDatatablesBundle package.
 #
 # (c) stwe <https://github.com/stwe/DatatablesBundle>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}
{% set multiple_actions %}
    <div>
        {% for action in column.actions %}
            {% if action.isRenderIfClosure %}
                {% set route = action.route ? path(action.route, action.routeParameters) : '' %}
                {% set attributes %}
                    {% for key, value in action.attributes %} {{ key }}='{{ value }}'{% endfor %}
                {% endset %}
                <a href="{{ route }}" {{ attributes }}>{{ datatable_icon(action.icon, action.label) }}</a>
            {% endif %}
        {% endfor %}
    </div>
{% endset %}

$("#{{ view_table_id }}_multiselect_actions").append("{{ multiple_actions|e('js') }}");

$(".{{ view_table_id }}_multiselect_checkall").click(function(event) {
    var that = this;
    $("input.{{ view_table_id }}_multiselect_checkbox:checkbox").each(function() {
        this.checked = that.checked;
    });
});

$(selector).on('click', 'input.{{ view_table_id }}_multiselect_checkbox', function(event) {
    updateCheckAll();
});

$(".{{ view_table_id }}_multiselect_action_click").on('click', function(event) {
    var length = $("input.{{ view_table_id }}_multiselect_checkbox:checkbox:checked").length;

    event.preventDefault();

    if (length > 0) {
        if (!confirm( "{{ 'datatables.bulk.confirmMsg'|trans({}, 'messages') }}" )) {
            return;
        }

        {% set token = csrf_token('multiselect') %}

        $.ajax({
            url: $(this).attr("href"),
            type: "POST",
            cache: false,
            data: {
                'data': $("input:checkbox:checked.{{ view_table_id }}_multiselect_checkbox", oTable.rows().nodes()).serializeArray(),
                'token': '{{ token }}'
            },
            success: function(msg) {
                {% if view_ajax.pipeline > 0 %}
                    oTable.clearPipeline().draw();
                {% else %}
                    oTable.draw();
                {% endif %}
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest + ' ' + textStatus + ' ' +errorThrown);
            }
        })
    } else {
        alert("{{ 'datatables.bulk.selectError'|trans({}, 'messages') }}");
    }
});

function updateCheckAll(){
    var $individual_all        = $("input.{{ view_table_id }}_multiselect_checkbox:checkbox");
    var $individual_checked    = $("input.{{ view_table_id }}_multiselect_checkbox:checkbox:checked");
    var $all                   = $(".{{ view_table_id }}_multiselect_checkall");

    if($individual_checked.length === 0){
        $all.prop('checked', false);
        $all.prop('indeterminate', false);
    } else if ($individual_checked.length === $individual_all.length){
        $all.prop('checked', true);
        $all.prop('indeterminate', false);
    } else {
        $all.prop('checked', false);
        $all.prop('indeterminate', true);
    }
}
