<table cellpadding="0" cellspacing="0" class="{{ view_options.class }}" border="0" id="{{ view_table_id }}" width="100%">
    <thead>
    </thead>
    {% if view_options.individualFiltering %}
        <tfoot>
            {% for column in view_columns %}
                <th>
                    {% if column.searchable %}
                        <input type="text"
                           class="individual_filtering"
                           style="{% if column.width %} width:{{ column.width }};{% endif %}"
                           placeholder="{{ column.title|striptags|trim }}"
                           {% if column.name %}name="{{ column.name }}"{% endif %} />
                    {% else %}
                        <input type="hidden" />
                    {% endif %}
                </th>
            {% endfor %}
        </tfoot>
    {% endif %}
    <tbody>
    </tbody>
</table>
