                function format (d) {
                    var tabledetail= '<table cellpadding="5" cellspacing="0" border="0" class="table table-hover table-condensed">';
                        {% set f=1 %}
		        {% for column in view_columns %}
                            {% if (column.getAlias()=='rowdetail' or column.getAlias()=='arrayrowdetail') and column.visibleonrow %}
                                
                            tabledetail+='<tr>';
                            tabledetail+='<td {%if f %}style="width:100px"{%endif%}>{{ column.classicon|e('js') }}{{ column.title }}</td>';
                                {% if column.getAlias()=='rowdetail'%}
                                        if ({{'d.'~column.dql}} != null && typeof {{'d.'~column.dql}}.timestamp != "undefined") {
                                                moment.locale("{{ app.request.locale }}");
                                                edate= moment.unix({{'d.'~column.dql}}.timestamp).format();
                                                tabledetail+='<td>'+edate+'</td>';
                                            }else
                                        {
                                            tabledetail+='<td>'+{{'d.'~column.dql}}+'</td>';
                                        }
                                
                                {%elseif column.getAlias()=='arrayrowdetail'%}
                                    
                                    function perfom_{{column.arraydatafield|replace({'.':'_'})}}(a){
                                       var ahtml="<ul>";
                                        a.forEach(function (e,i,a){
                                        {% if column.arraydatatype=='date'%}
                                        if ({{'e.'~column.arraydatafield}} != null && typeof {{'e.'~column.arraydatafield}}.timestamp != "undefined") {
                                                moment.locale("{{ app.request.locale }}");
                                                edate= moment.unix({{'e.'~column.arraydatafield}}.timestamp).format();
                                            }
                                          ahtml+="<li>"+edate+"</li>";
                                       
                                        {%else%}
                                            ahtml+="<li>"+{{'e.'~column.arraydatafield}}+"</li>";
                                        {%endif%}
                                        });
                                        ahtml+="</ul>"
                                        return ahtml;
                                    };
                                    
                                tabledetail+='<td>'+perfom_{{column.arraydatafield|replace({'.':'_'})}}({{'d.'~column.arraydata}})+'</td>'
                                
                                {% endif %}
                            tabledetail+='</tr>';
                            {% set f=0 %}
                            {% endif %}
                         {% endfor %}
		    tabledetail+='</table>';
                    return tabledetail;
		}
