{% set visible = false %}

{% set multiple_actions_html %}
    <p>
        <select name='bulk_action_routes[select]' id='bulk_action_routes'>
            {% for action in column.actions %}
                {% set visible = (action.role and app.user is not null and is_granted(action.role) or not action.role) ? true : false %}
                
                {% if visible %}
                    {% set route = action.route ? path(action.route, action.routeParameters) : '' %}
                    <option {%- for key, value in action.attributes %} {{ key }}='{{ value }}'{% endfor %} value='{{ route }}'>
                        {{ action.label }}
                    </option>
                {% endif %}
            {% endfor %}
        </select>
        <button id='multiselect_submit' type='button'>{{ 'datatables.bulk.ok'|trans({}, 'messages') }}</button>
    </p>
{% endset %}

var dt_wrapper = $("#{{ view_table_id }}" + "_wrapper");
dt_wrapper.append("{{ multiple_actions_html|e('js') }}");

dt_wrapper.find(".multiselect_checkall").click(function(event) {
    var that = this;
    dt_wrapper.find("input.multiselect_checkbox:checkbox").each(function() {
        this.checked = that.checked;
    });
});

dt_wrapper.find(".multiselect_submit").on('click', function() {
    var length = dt_wrapper.find("input.multiselect_checkbox:checkbox:checked").length;

    if (length > 0) {
        if (!confirm( "{{ 'datatables.bulk.confirmMsg'|trans({}, 'messages') }}" )) {
            return;
        }

        $.ajax({
            url: dt_wrapper.find("select[name='bulk_action_routes[select]']").val(),
            type: "POST",
            cache: false,
            data: {
                'data': $("input:checkbox:checked.multiselect_checkbox", oTable.rows().nodes()).serializeArray()
            },
            success: function(msg) {
                oTable.draw();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest + ' ' + textStatus + ' ' +errorThrown);
            }
        })
    } else {
        alert("{{ 'datatables.bulk.selectError'|trans({}, 'messages') }}");
    }
});
