{% set visible = false %}

{% set multiple_actions %}
    <div>
        {% for action in column.actions %}
            {% set visible = (action.role and app.user is not null and is_granted(action.role) or not action.role) ? true : false %}

            {% if visible %}
                {% set route = action.route ? path(action.route, action.routeParameters) : '' %}
                {% set attributes %}
                    {% for key, value in action.attributes %} {{ key }}='{{ value }}'{% endfor %}
                {% endset %}
                <a href="{{ route }}" {{ attributes }}>{{ datatable_icon(action.icon, action.label) }}</a>
            {% endif %}
        {% endfor %}
    </div>
{% endset %}

var dt_wrapper = $("#{{ view_table_id }}" + "_wrapper");
dt_wrapper.find(".dataTables_scrollFootInner").append("{{ multiple_actions|e('js') }}");

dt_wrapper.find(".multiselect_checkall").click(function(event) {
    var that = this;
    dt_wrapper.find("input.multiselect_checkbox:checkbox").each(function() {
        this.checked = that.checked;
    });
});

dt_wrapper.find(".multiselect_action_click").on('click', function(event) {
    var length = dt_wrapper.find("input.multiselect_checkbox:checkbox:checked").length;

    event.preventDefault();

    if (length > 0) {
        if (!confirm( "{{ 'datatables.bulk.confirmMsg'|trans({}, 'messages') }}" )) {
            return;
        }

        $.ajax({
            url: $(this).attr("href"),
            type: "POST",
            cache: false,
            data: {
                'data': $("input:checkbox:checked.multiselect_checkbox", oTable.rows().nodes()).serializeArray()
            },
            success: function(msg) {
                oTable.draw();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest + ' ' + textStatus + ' ' +errorThrown);
            }
        })
    } else {
        alert("{{ 'datatables.bulk.selectError'|trans({}, 'messages') }}");
    }
});
