{% block sg_datatable %}

    {% block sg_datatable_html %}

        <table cellpadding="0" cellspacing="0" border="0" class="{{ theme_tableClasses }}" id="{{ dt_tableId }}" width="100%">
            <thead>
            </thead>
                {% if dt_individualFiltering %}
                    <tfoot>
                        {% for column in dt_columns %}
                            <th>
                                {% if column.bSearchable %}
                                    {% if column.sTitle.label is defined %}
                                        <input type="text" class="{{ theme_formClasses }}" placeholder="{{ column.sTitle.label|trans({}, column.sTitle.translation_domain) }}" />
                                    {% else %}
                                        <input type="text" class="{{ theme_formClasses }}" placeholder="{{ column.sTitle }}" />
                                    {% endif %}
                                {% else %}
                                    <input type="hidden" />
                                {% endif %}
                            </th>
                        {% endfor %}
                        {% if dt_multiselect %}
                            <th></th>
                        {% endif %}
                    </tfoot>
                {% endif %}
            <tbody>
            </tbody>
        </table>

    {% endblock %}

    {% block sg_datatable_js %}

        <script>

            $(document).ready(function () {

                var selector = "#{{ dt_tableId }}";

                var defaults = {
                    {% if dt_bProcessing %}
                        "bProcessing": true,
                    {% else %}
                        "bProcessing": false,
                    {% endif %}
                    {% if dt_bServerSide %}
                        "bServerSide": true,
                        {% if dt_sAjaxSourceParameters %}
                            "sAjaxSource": "{{ path(dt_sAjaxSource, dt_sAjaxSourceParameters) }}",
                        {% else %}
                            "sAjaxSource": "{{ path(dt_sAjaxSource) }}",
                        {% endif %}
                        "fnServerParams": function(aoData) {
                            {% set counter = 0 %}
                            {% for column in dt_columns %}
                                aoData.push( { "name": "dql_{{ counter }}", "value": "{{ column.name }}" } );
                                {% set counter = counter + 1 %}
                            {% endfor %}
                            {% set counter = counter - 1 %}
                            aoData.push( { "name": "dql_counter", "value": "{{ counter }}" } );
                        },
                    {% else %}
                        "aaData": {{ dt_aaData|raw }},
                    {% endif %}
                    {% if theme_pagination %}
                        "sPaginationType": "{{ theme_pagination }}",
                    {% endif %}
                    {% if theme_sDomValues %}
                        {% if 'bootstrap3_datatable_theme' == theme_name %}
                            "sDom": "<'row'<'{{ theme_sDomValues.sDomLength }}'l><'{{ theme_sDomValues.sDomFilter }}'f>r>t<'row'<'{{ theme_sDomValues.sDomInfo }}'i><'{{ theme_sDomValues.sDomPagination }}'p>>",
                        {% else %}
                            "sDom": {{ theme_sDomValues }},
                        {% endif %}
                    {% endif %}
                    "aLengthMenu": [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "{{ 'datatables.datatable.all'|trans({}, 'messages') }}"]],
                    "iDisplayLength": {{ dt_iDisplayLength }},
                    "oLanguage": {
                        "sProcessing": "{{ 'datatables.datatable.sProcessing'|trans({}, 'messages') }}",
                        "sLengthMenu": "{{ 'datatables.datatable.sLengthMenu'|trans({}, 'messages') }}",
                        "sZeroRecords": "{{ 'datatables.datatable.sZeroRecords'|trans({}, 'messages') }}",
                        "sInfo": "{{ 'datatables.datatable.sInfo'|trans({}, 'messages') }}",
                        "sInfoEmpty": "{{ 'datatables.datatable.sInfoEmpty'|trans({}, 'messages') }}",
                        "sInfoFiltered": "{{ 'datatables.datatable.sInfoFiltered'|trans({}, 'messages') }}",
                        "sInfoPostFix": "{{ 'datatables.datatable.sInfoPostFix'|trans({}, 'messages') }}",
                        "sSearch": "{{ 'datatables.datatable.sSearch'|trans({}, 'messages') }}",
                        "sUrl": "",
                        "oPaginate": {
                            "sFirst": "{{ 'datatables.datatable.sFirst'|trans({}, 'messages') }}",
                            "sPrevious": "{{ 'datatables.datatable.sPrevious'|trans({}, 'messages') }}",
                            "sNext": "{{ 'datatables.datatable.sNext'|trans({}, 'messages') }}",
                            "sLast": "{{ 'datatables.datatable.sLast'|trans({}, 'messages') }}"
                        }
                    }
                };

                $.extend(defaults, {
                    "aoColumns": [
                        {# columns #}
                        {% for column in dt_columns %}
                            {% include "SgDatatablesBundle:Column:" ~ column.getClassId ~ ".html.twig" %}
                        {% endfor %}

                        {# multiselect column #}
                        {% if dt_multiselect %}
                            {% include "SgDatatablesBundle:Column:multiselect.html.twig" %}
                        {% endif %}
                    ]
                });

                var oTable = $(selector).dataTable(defaults);

                {% if dt_individualFiltering %}
                    $("tfoot input").keyup(function() {
                        oTable.fnFilter(this.value, $("tfoot input").index(this));
                    });
                {% endif %}

                {% if dt_multiselect %}
                    var multiple_html = "\
                        <p>\
                            <select name='bulk_action_routes[select]'>\
                                {% for key, value in dt_bulkActions %}\
                                    <option value='{{ path(value) }}'>{{ key }}</option>\
                                {% endfor %}\
                            </select>\
                            <button id='bulk_action_routes_button' type='button' class='btn'>OK</button>\
                        </p>";

                    $(".pagination").append(multiple_html);

                    $("#select_all_checkbox").click(function(event) {
                        if(this.checked) {
                            $("input:checkbox.select_column_checkbox").each(function() {
                                this.checked = true;
                            });
                        } else {
                            $("input:checkbox.select_column_checkbox").each(function() {
                                this.checked = false;
                            });
                        }
                    });

                    $("#bulk_action_routes_button").click(function() {
                        var length = $("input:checkbox:checked.select_column_checkbox").length;

                        if (length > 0) {
                            if (!confirm( "{{ 'datatables.bulk.confirmMsg'|trans({}, 'messages') }}" )) {
                                return;
                            }

                            $.ajax({
                                url: $("select[name='bulk_action_routes[select]']").val(),
                                type: "POST",
                                cache: false,
                                data: {
                                    'data': $("input:checkbox:checked.select_column_checkbox", oTable.fnGetNodes()).serializeArray()
                                },
                                success: function(msg) {
                                    oTable.fnDraw();
                                },
                                error: function (XMLHttpRequest, textStatus, errorThrown) {
                                    console.log(XMLHttpRequest + ' ' + textStatus + ' ' +errorThrown);
                                }
                            })
                        } else {
                            alert("{{ 'datatables.bulk.selectError'|trans({}, 'messages') }}");
                        }

                    });
                {% endif %}

            });

        </script>

    {% endblock %}

    {% block sg_datatable_render_functions %}

        <script>

            function render_boolean_icons(data, type, full) {
                if (type != "display")
                    return data;

                if (data == true) {
                    return "{{ theme_iconOk }}";
                } else {
                    return "{{ theme_iconRemove }}";
                }
            }

        </script>

    {% endblock %}

{% endblock  %}
