{##
 # This file is part of the SgDatatablesBundle package.
 #
 # (c) stwe <https://github.com/stwe/DatatablesBundle>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}
{%- set filter_selector_name -%}
    sg-datatables-{{ datatable_name }}-{{ position }}-filter-{{ column.index }}
{%- endset -%}

{%- set cancel_button_selector_name -%}
    sg-datatables-{{ datatable_name }}-{{ position }}-filter-cancel-{{ column.index }}
{%- endset -%}

{%- set filter_selector -%}
    id="{{ filter_selector_name }}"
{%- endset -%}

{% set filter_classes %}
    class="sg-datatables-individual-filtering{% if column.filter.classes is not null %} {{ column.filter.classes }}{% endif %}"
{% endset %}

{% set filter_width %}
    {% if column.width is not null %}style="width:{{ column.width }};"{% endif %}
{% endset %}

{% set filter_search_column_index %}
    data-search-column-index="{{ search_column_index }}"
{% endset %}

{% set filter_column_name %}
    {% if column.name is not null %}name="{{ column.name }}"{% endif %}
{% endset %}

{% set cancel_button_html %}
    {% if true == column.filter.cancelButton %}
        <button type="button"
                id="{{ cancel_button_selector_name }}"
                class="btn btn-default btn-xs"
        >&times;</button>
    {% endif %}
{% endset %}

{% set cancel_button_js %}
    {% if true == column.filter.cancelButton %}
        <script>
            $("#{{ cancel_button_selector_name }}").click(function() {
                if ('' != $("#{{ filter_selector_name }}").val()) {
                    $("#{{ filter_selector_name }}")
                            .val('')
                            .change();
                }
            });
        </script>
    {% endif %}
{% endset %}

{% block html %}
{% endblock %}

{% block javascript %}
{% endblock %}
