{##
 # This file is part of the SgDatatablesBundle package.
 #
 # (c) stwe <https://github.com/stwe/DatatablesBundle>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}
{% extends 'SgDatatablesBundle:filter:filter.html.twig' %}

{% set filter_select_initial_search %}
    {% if column.filter.initialSearch is not null %}
        <option value="{{ column.filter.initialSearch }}">
            {{ column.filter.searchColumn }}
        </option>
    {% endif %}
{% endset %}

{% set filter_select_select_options %}
    {% for key, name in column.filter.selectOptions %}
        <option value="{{ key }}">{{ name }}</option>
    {% endfor %}
{% endset %}

{% set filter_select_multiple %}
    {% if true == column.filter.multiple %}
        multiple="multiple"
    {% endif %}
{% endset %}

{% block html %}
    <select
            {{ filter_select_multiple }}
            {{ filter_selector }}
            {{ filter_classes }}
            {{ filter_width }}
            {{ filter_search_column_index }}
            {{ filter_column_name }}
    >
        {{ filter_select_initial_search }}
        {{ filter_select_select_options }}
    </select>
    {{ cancel_button_html }}
{% endblock %}

{% block javascript %}
    {{ cancel_button_js }}
{% endblock %}
