{##
 # This file is part of the SgDatatablesBundle package.
 #
 # (c) stwe <https://github.com/stwe/DatatablesBundle>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}
{% if data is not null %}
    <div id="sg-datatables-{{ datatable_name }}-datetime-{{ row_data_id }}"></div>

    <script type="text/javascript">
        $(function() {
            moment.locale("{{ app.request.locale }}");

            {% if false == timeago %}
                $("#sg-datatables-{{ datatable_name }}-datetime-{{ row_data_id }}").html(moment.unix({{ data|date('U') }}).format("{{ date_format }}"));
            {% else %}
                $("#sg-datatables-{{ datatable_name }}-datetime-{{ row_data_id }}").html(moment.unix({{ data|date('U') }}).fromNow());
            {% endif %}
        });
    </script>
{% endif %}
