{##
 # This file is part of the SgDatatablesBundle package.
 #
 # (c) stwe <https://github.com/stwe/DatatablesBundle>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}
{%- set datetime_id_selector -%}
    sg-datatables-{{ datatable_name }}-datetime-{{ row_id }}
{%- endset -%}

{%- set datetime_selector -%}
    id="{{ datetime_id_selector }}"
{%- endset -%}

{% if data is not null %}
    <div {{ datetime_selector }}></div>

    <script type="text/javascript">
        $(function() {
            moment.locale("{{ app.request.locale }}");

            {% if timeago is same as(false) %}
                $("#{{ datetime_id_selector }}").html(moment.unix({{ data|date('U') }}).format("{{ date_format }}"));
            {% else %}
                $("#{{ datetime_id_selector }}").html(moment.unix({{ data|date('U') }}).fromNow());
            {% endif %}
        });
    </script>
{% endif %}
