<select
        class="individual_filtering{% if column.class %} {{ column.class }}{% endif %}"
        style="{% if column.width %} width:{{ column.width }};{% endif %}"
        {% if column.name %}name="{{ column.name }}"{% endif %}
        data-filter-property-id="{{ filterColumnId }}"
        >
            <option value="null">{{ 'Any'|trans }}</option>
       {% for key,name in column.filterOptions %}
            <option value="{{ key }}">{{ name }}</option>
       {% endfor %}
</select>
