<select
    class="individual_filtering{% if column.class %} {{ column.class }}{% endif %}"
    style="{% if column.width %} width:{{ column.width }};{% endif %}"
    {% if column.name %}name="{{ column.name }}"{% endif %}
    data-filter-property-id="{{ filterColumnId }}"
    >
    {% for key, name in column.filter.selectOptions %}
        {% if loop.first %}
            <option value="{{ key }}" selected="selected">{{ name }}</option>
        {% else %}
            <option value="{{ key }}">{{ name }}</option>
        {% endif %}
    {% endfor %}
</select>
