{##
 # This file is part of the SgDatatablesBundle package.
 #
 # (c) stwe <https://github.com/stwe/DatatablesBundle>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}
{% extends 'SgDatatablesBundle:Filters:filter.html.twig' %}

{% block html %}
    <select
        id="{{ tableId }}-sg-filter-{{ selectorId }}"
        class="individual_filtering{% if column.filter.class %} {{ column.filter.class }}{% endif %}"
        style="{% if column.width %} width:{{ column.width }};{% endif %}"
        {% if column.name %}name="{{ column.name }}"{% endif %}
        data-filter-property-id="{{ filterColumnId }}"
        data-search-column="{{ column.filter.searchColumn }}"
    >
        {% if column.filter.searchColumn %}
            <option value="{{ column.filter.searchColumn }}">
                {{ column.filter.searchColumn }} ({{ 'filter.default'|trans({}, 'messages') }})
            </option>
        {% endif %}
        {% for key, name in column.filter.selectOptions %}
            <option value="{{ key }}">{{ name }}</option>
        {% endfor %}
    </select>
    {% if true == column.filter.cancelButton %}
        {{ cancel_button_html }}
    {% endif %}
{% endblock %}
