{
    "bSearchable": false,

    "bSortable": false,

    {% if column.bVisible == false %}
        "bVisible": false,
    {% else %}
        "bVisible": true,
    {% endif %}

    "mData": null,

    "mRender": function(data, type, full) {
        if (type != "display")
            return data;

        var routeParameters  = {};
        var attributes = "";

        {% for key, value in column.routeParameters %}
            var parameter = "{{ key }}";
            var columnValue = "{{ value }}";
            routeParameters[parameter] = full[columnValue];
        {% endfor %}

        {% for key, value in column.attributes %}
            attributes += '{{ key }} = "{{ value }}"';
        {% endfor %}

        var route  = Routing.generate("{{ column.route }}", routeParameters);
        var url  = "<a class = '{{ theme_actionButtonClasses }}' ";

        url += "href='" + route + "'";
        url += attributes + " >";
        {% if column.icon != null %}
            url += "<span class='{{ column.icon }}'></span>";
        {% else %}
            url += "{{ column.label }}";
        {% endif %}
        url += "</a>";

        return url;
    },

    {% if column.sClass != "" %}
        "sClass": "{{ column.sClass }}",
    {% endif %}

    {% if column.sDefaultContent != null %}
        "sDefaultContent": "{{ column.sDefaultContent }}",
    {% endif %}

    {% if column.sTitle.label is defined %}
        "sTitle": "{{ column.sTitle.label|trans({}, column.sTitle.translation_domain) }}",
    {% else %}
        "sTitle": "{{ column.sTitle }}",
    {% endif %}

    {% if column.sWidth != null %}
        "sWidth": "{{ column.sWidth }}",
    {% endif %}
},
