{% extends 'SgDatatablesBundle:Column:column.html.twig' %}

{% block data %}
    "mData": "{{ column.mData }}",
    "mRender": function(data, type, full) {
        var routeParameters  = {};
        var attributes = "";

        {% for key, value in column.routeParameters %}
            var parameter = "{{ key }}";
            routeParameters[parameter] = full.{{ value }};
        {% endfor %}

        {% for key, value in column.attributes %}
            attributes += '{{ key }} = "{{ value }}"';
        {% endfor %}

        var route  = Routing.generate("{{ column.route }}", routeParameters);
        var url  = "<a class = '{{ theme_actionButtonClasses }}' ";

        url += "href='" + route + "'";
        url += attributes + " >";
        {% if column.icon != null %}
            url += "<span class='{{ column.icon }}'></span> {{ column.label }}";
        {% else %}
            url += "{{ column.label }}";
        {% endif %}
        url += "</a>";

        return url;
    },
{% endblock %}
