{##
 # This file is part of the SgDatatablesBundle package.
 #
 # (c) stwe <https://github.com/stwe/DatatablesBundle>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}
{% extends 'SgDatatablesBundle:Column:column.html.twig' %}

{% block common %}
    "contentPadding": "{{ column.padding }}",
    "defaultContent": "{{ column.defaultContent }}",
    "name": "{{ column.name }}",
    "orderable": false,
    "searchable": false,
    "title": "{{ column.title|raw }}",
    {% if column.type %}
        "type": "{{ column.type }}",
    {% endif %}
    {% if column.visible %}
        "visible": true,
        "className": "{{ column.class }}",
    {% else %}
        "visible": false,
        "className": "never {{ column.class }}",
    {% endif %}
    "width": "{{ column.width }}",
{% endblock %}

{% block data %}
    "data": "{{ column.data }}",
    "render": function(data, type, row, meta) {
        var actionsString = "";

        {# start html #}
        {% if column.startHtml %}
            actionsString += '{{ column.startHtml|raw }}';
        {% endif %}

        var routeParameters, attributes, visibleFlag, roleFlag;

        {% for action in column.actions %}
            routeParameters  = new Array();
            attributes = "";
            visibleFlag = true;
            roleFlag = true;

            {% for key, value in action.renderIf %}
                visibleFlag &= Boolean(row.{{ value }});
            {% endfor %}

            {% if action.role %}
                roleFlag = false;
                {% if app.user is not null and is_granted(action.role) %}
                    roleFlag = true;
                {% endif %}
            {% endif %}

            if (true == visibleFlag && true == roleFlag) {
                {% for key, value in action.routeParameters %}
                    routeParameters["{{ key }}"] = row.{{ value }};
                {% endfor %}

                var route  = Routing.generate("{{ action.route }}", routeParameters);

                {% for key, value in action.attributes %}
                    attributes += '{{ key }}="{{ value }}" ';
                {% endfor %}

                var url  = "<a ";
                url += 'href="' + route + '" ';
                url += attributes;
                {% if action.confirm %}
                    url += 'onclick="' + "return confirm('{{ action.ConfirmMessage }}')" + '" ';
                {% endif %}
                url += ">";
                url += '{{ datatable_icon(action.icon, action.label) }}';
                url += "</a>";

                actionsString += url;
            }
        {% endfor %}

        {# end html #}
        {% if column.endHtml %}
            actionsString += '{{ column.endHtml|raw }}';
        {% endif %}

        return actionsString;
    },
{% endblock %}
