<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}SgDatatablesBundle{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" >
            <link rel="stylesheet" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
            <link rel="stylesheet" href="//cdn.datatables.net/responsive/1.0.6/css/dataTables.responsive.css">
            <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/1/daterangepicker-bs3.css" />
        {% endblock %}
        {% block head_javascripts %}
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment-with-locales.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
            <script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
            <script src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
            <script src="//cdn.datatables.net/responsive/1.0.6/js/dataTables.responsive.min.js"></script>
            <script src="//cdn.jsdelivr.net/bootstrap.daterangepicker/1/daterangepicker.js"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block header %}
            <header>
                <div class="navbar navbar-default navbar-static-top" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{{ path('homepage') }}">
                                SgDatatablesBundle
                            </a>
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                {% block header_navigation_links %}
                                    {#
                                    <li>
                                        <a href="{{ path('sg_post_index') }}">
                                            <i class="glyphicon glyphicon-th-list"></i> Posts
                                        </a>
                                    </li>
                                    #}
                                {% endblock %}
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
        {% endblock %}

        <div class="container body-container">
            {% block body %}
                <div class="row">
                    <div id="main" class="col-sm-9">
                        {% block fos_user_content %}{% endblock fos_user_content %}
                        {% block main %}{% endblock %}
                    </div>

                    <div id="sidebar" class="col-sm-3">
                        {% block sidebar %}
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>

        <hr />

        {% block footer %}
            <footer style="text-align: center">
                <div class="container">
                    <div class="row">
                        <div id="footer-copyright" class="col-md-12">
                            <p><small>&copy; {{ 'now'|date('Y') }} - stwe</small></p>
                            <p><small>MIT License</small></p>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}

        {% block foot_javascripts %}
            <script type="text/javascript">
                $( document ).ready(function() {
                    moment.locale("{{ app.request.locale }}");
                    $('input[name="daterange"]').daterangepicker();
                });
            </script>
        {% endblock %}
    </body>
</html>
