{% extends datatable_admin_site_config().base_layout %}

{% block main %}
    {% if heading %}
        <h2>{{ heading }}</h2>
        <hr>
    {% endif %}
    <table class="table">
        <tbody>
            {% for field in fields %}
                <tr>
                    <td>
                        <b>{{ field|capitalize }}:</b>
                    </td>
                    <td>
                        {% if 'datetime' != mappings[field]['type'] %}
                            {% if entity[field] is iterable %}
                                {% for value in entity[field] %}
                                    {{ value }}
                                {% endfor %}
                            {% else %}
                                {{ entity[field] }}
                            {% endif %}
                        {% else %}
                            {{ entity[field]|date }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ form(delete_form) }}
    <hr>
    <a href="{{ path(edit_action, { 'id': entity['id'] }) }}" class="btn btn-primary">{{ 'datatables.actions.edit'|trans({}, 'messages') }}</a>
    <a href="{{ path(list_action) }}" class="btn btn-primary">{{ 'datatables.actions.toList'|trans({}, 'messages') }}</a>
{% endblock %}
